h1.name {
    font-size: 1.2em;
}

div#center-nav {
    margin: 0 auto;
    width: 12em;
}

nav h2 {
    font-size: 0.85em;
}

h3 {
    font-size: 0.95em;
    }

h2 {
    font-size: 0.85em;
}

div#main-container {
    float: none;
}

div#projects-container {
    display: inline;	
    width: 292px;
}

div.text-holder {
    font-size: 0.7em;
    float: right;
    height: 118px;
    margin-right: 10px;
    width: 460px;
}

section.project {
    height: 130px;
    width: 100%;
}

div.img-holder {
    float: left;
    height: auto;
    margin-left: 10px;
    width: 256px;
}

div.img-holder img {
    width: 266px;
}

section#konsoll div.img-holder {
    width: 256px;
}

section#konsoll div.img-holder img {
    height: auto;
    width: 266px;
}

body#about section#about-me {
    width: 100%;
}

body#about section#about-me p, 
body#about section#about-me ul {
    font-size: 1em;
}

body#about div#left h3 {
    width: 14em;
}

section#about-me div#left {
    border-right: 1px dashed #555;
    float: left;
    padding-left: 1em;
    width: 23em;
    }

section#about-me div#right {
    float: right;
    width: 23em;
    }

section#about-me div#right p {
    padding-left: 0;
    }