h1.name {
    font-size: 1.2em;
}

div#center-nav {
    margin: 0 auto;
    width: 12em;
}

nav h2 {
    font-size: 0.85em;
}

h2 {
    font-size: 0.85em;
}

div#main-container {
    float: none;
}

div#projects-container {
    display: inline;	
}

div.text-holder {
    display: inline;
    font-size: 0.7em;
    float: right;
    width: 330px;
}

section.project {
    width: 100%;
}

div.img-holder {
    float: left;
    height: 85px;
    width: auto;
}

div.img-holder img {
    float: left;
}

section.project {
    height: 100px;
}

section#shoplister.project div.img-holder,
section#jgi.project div.img-holder,
section#brk.project div.img-holder,
section#jquery-nima.project div.img-holder,
section#huldra.project div.img-holder,
section#jat.project div.img-holder,
section#github.project div.img-holder {
    height: 80px;
}

section#shoplister.project div.img-holder img,
section#jgi.project div.img-holder img,
section#brk.project div.img-holder img,
section#jquery-nima.project div.img-holder img,
section#github.project div.img-holder img {
    max-height: 92px;
    width: 130px;
}

section#jat.project div.img-holder img {
    height: auto;
    width: 130px;
}

section#konsoll.project div.img-holder img {
    height: auto;
    width: 130px;
}

section#huldra.project div.img-holder img {
    max-height: 90px;
    width: 130px;
}

section#shoplister div.text-holder {
    height: 95px;
}

section#jgi div.text-holder,
section#brk div.text-holder,
section#jquery-nima div.text-holder,
section#huldra div.text-holder {
    height: 85px;
}

section#konsoll div.text-holder {
    height: 88px;
}

h3 {
    font-size: 0.95em;
    }

body#about section#about-me {
    width: 100%;
    }

body#about section#about-me p, 
body#about section#about-me ul {
    font-size: 0.7em;
    }

body#about div#left,
body#about div#right {
    width: 288px;
    }

body#about div#right {
    float: left;
    padding-left: 1em;
    }

body#about div#left h3 {
    width: 14em;
    }