/* START GENERAL */
* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: #242D39;
    background-image: url('../media/rain_on_window_green.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
/* END GENERAL */

/* START HEADER */
header {
    float: left;
    height: auto;
    margin-bottom: 2.5em;
    width: 100%;
    }

header h1 {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
    font-weight: 200;
    letter-spacing: 1px;
    margin: auto;
    padding-top: 0.5em;
    text-align: center;
    }

span#fname {
    margin: 0 0 0 0;
    }

nav {
    border-bottom: 1px solid red;
    height: 3em;
    margin: auto;
    width: 21em;
    }

nav h2 {
    background-color: #627086;
    background-color: rgba(255,255,255,0);
    color: #ffffff;
    float: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 1px;
    padding-bottom: 0.2em;
    text-align: center;
    width: 7em;
    }

nav h2 a {
    color: #fff;
    display: block;
    text-decoration: none;
    }

nav h2:hover {
    background-color: #798BA6;
    background-color: rgb(121, 139, 166);
    background-color: rgba(121, 139, 166, 0.8);
    }

nav h2.active {
    background-color: rgb(121, 139, 166);
    background-color: rgba(121, 139, 166, 0.3);
    }

nav h2:hover.active {
    background-color: rgb(121, 139, 166);
    background-color: rgba(121, 139, 166, 0.8);
    }

h2#projects {

    }

h2#about {

    }
/* END HEADER */

/* START MAIN-CONTAINER */
div#main-container {
    }
/* END MAIN-CONTAINER */

/* START PROJECTS-CONTAINER */
div#projects-container {
    display: block;
    margin: auto;
    width: 50em;
    }
/* END PROJECTS-CONTAINER */

/* START PROJECTS-PRESENTATION */
div#projects-presentation {
    height: auto;
    float: left;
    }
/* END PROJECTS-PRESENTATION */

/* START PROJECT */
section.project {
    height: 140px;
    margin-bottom: 0.3em;
    }

section.project:hover {
    cursor: pointer;
    }

section.project:hover .text-holder {
    background-color: rgb(121, 139, 166);
    background-color: rgba(121, 139, 166, 1);
    }

section.project h3,
section.project p,
section#about-me h3,
section#about-me p {
    color: #ffffff;
    font-family: sans-serif;
    margin-left: 0.3em;
    }

section.project p.timeline {
    margin-top: 0.5em;
    }

section.project h3,
section#about-me h3 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 0.3em;
    margin-bottom: 0.7em;
    text-decoration: underline;
    }

div.img-holder {
    float: left;
    height: 140px;
    margin-right: 0.2em;
    max-width: 18.8em;
    }

div.text-holder {
    background-color: rgb(121, 139, 166);
    background-color: rgba(121, 139, 166, 0.85);
    float: right;
    height: 130px;
    padding: 0.3em;
    padding-right: 0.7em;
    position: relative;
    width: 30em;
    }

section.project a.project-url {
    color: #D9E2FF;
    font-family: sans-serif;
    font-size: 0.85em;
    position: absolute;
    bottom: 5px;
    left: 25px;
}

section#jgi div.img-holder {

    }

section#jgi img {

    }

section#konsoll img {
    height: 140px;
    width: 299px;
    }
/* END PROJECT */

/* START ABOUT-ME */
div#presentation-container {
    float: left;
    height: auto;
    width: 100%;
    }

section#about-me {
    background-color: rgb(121, 139, 166);
    background-color: rgba(121, 139, 166, 0.85);
    height: 32em;
    margin: 0 auto;
    width: 50em;
    }

section#about-me img {
    float: left;
    margin: 0 1em 0.5em 0;
    height: 150px;
    }

section#about-me p {
    margin: 0 0 1em 0;
    padding: 0 1em 0 1em;
    }

section#about-me h4 {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.7em;
//    text-decoration: underline;
    }

section#about-me p#final-single {
    margin-bottom: 1em;
    }

section#about-me div#left {
    border-right: 1px dashed #555;
    float: left;
    width: 24em;
    }

section#about-me div#right {
    float: right;
    width: 25em;
    }

section#about-me div#right p {
    padding-left: 0;
    }

section#about-me ul {
    list-style: square;
    padding: 0 0 0 2em;
    }

section#about-me ul li {
    color: #fff;
    font-family: sans-serif;
    }
/* END ABOUT-ME */

/* START FOOTER */
footer {
    background-color: #242D39;
    float: left;
    text-align: center;
    width: 100%;
    }

body#about footer {
    background-color: #333d4c;
//    background-color: #36414f;
    }

footer p {
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: 200;
    padding: 0.5em;
    }

footer a,
footer a:link,
footer a:visited {
    color: #ffffff;
    font-size: 1.3em;
    }
/* END FOOTER */
