h1.name {
	font-size: 1.2em;
}

h2 {
	font-size: 0.85em;
}

div#main-container {
	float: none;
}

div#projects-container {
	display: inline;	
	width: 620px;
}

div.text-holder {
	display: inline;
	font-size: 0.7em;
	float: right;
	width: 31em;
}

section.project {
	width: 100%;
}

div.img-holder {
	float: left;
	height: 95px;
	width: auto;
}

div.img-holder img {
	float: left;
}

section.project {
	height: 100px;
}

section#shoplister.project div.img-holder img,
section#jgi.project div.img-holder img,
section#brk.project div.img-holder img,
section#jquery-nima.project div.img-holder img,
section#konsoll.project div.img-holder img,
section#huldra.project div.img-holder img,
section#github.project div.img-holder img {
	max-height: 92px;
	width: 230px;
}

section#github.project div.img-holder img,
section#jat.project div.img-holder img {
    height: 90px;
    width: 230px;
    }

section#shoplister div.text-holder,
section#jgi div.text-holder,
section#brk div.text-holder,
section#jquery-nima div.text-holder,
section#huldra div.text-holder,
section#jat div.text-holder,
section#github div.text-holder {
	height: 85px;
}

section#konsoll div.text-holder {
	height: 88px;
}


div#center-nav {
    margin: 0 auto;
    width: 12em;
}

nav h2 {
    font-size: 0.85em;
}

body#about section#about-me {
    width: 100%;
}

body#about section#about-me p, 
body#about section#about-me ul {
    font-size: 0.9em;
}

h3 {
    font-size: 0.95em;
    }

body#about div#left h3 {
    width: 100%;
}

section#about-me div#left {
    border-right: 1px dashed #555;
    float: left;
    margin: 0 auto;
    padding-left: 1em;
    width: 500px;
    }

section#about-me div#right {
    float: left;
    margin: 0 auto;
    padding-left: 1em;
    width: 500px;
    }

section#about-me div#right p {
    padding-left: 0;
    }